<tr class="ivu-table-row ivu-table-row-hover">
    <td class="ivu-table-hidden">
        <div class="ivu-table-cell ivu-table-hidden">
            <div style="text-align: center;">芜湖市</div>
        </div>
    </td>
    <td class="">
        <div class="ivu-table-cell"
            <div><span style="display: inline-block; line-height: 30px; width: 33.3%; text-align: center; border-right: 1px solid rgb(233, 234, 236);">0</span><span style="display: inline-block; line-height: 30px; width: 33.3%; text-align: center; border-right: 1px solid rgb(233, 234, 236);">0</span><span style="display: inline-block; line-height: 30px; width: 33.3%; text-align: center; border-right: none;">0.00%</span></div>
        </div>
    </td>
    <td class="">
        <div class="ivu-table-cell">
            <div><span style="display: inline-block; line-height: 30px; width: 50%; text-align: center; border-right: 1px solid rgb(233, 234, 236);">-358.54</span><span style="display: inline-block; line-height: 30px; width: 50%; text-align: center; border-right: none;">0.00%</span>
            </div>
        </div>
    </td>
    <td class="">
        <div class="ivu-table-cell">
            <div><span style="display: inline-block; line-height: 30px; width: 50%; text-align: center; border-right: 1px solid rgb(233, 234, 236);">-358.54</span><span style="display: inline-block; line-height: 30px; width: 50%; text-align: center; border-right: none;">0.00%</span>
            </div>
        </div>
    </td>
    <td class="">
        <div class="ivu-table-cell">
            <div><span style="display: inline-block; line-height: 30px; width: 50%; text-align: center; border-right: 1px solid rgb(233, 234, 236);">0</span> <span style="display: inline-block; line-height: 30px; width: 50%; text-align: center; border-right: none;">0</span>
            </div>
        </div>
    </td>
</tr>