<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://at.alicdn.com/t/font_397862_a14oc3v140wwmi.css">
        <!-- <script src="http://oss.sheetjs.com/js-xlsx/xlsx.full.min.js"></script> -->
        <script src="https://cdn.bootcss.com/xlsx/0.11.12/xlsx.full.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="http://momentjs.cn/downloads/moment.min.js"></script>
        <script type="text/javascript" src="http://code.highcharts.com/stock/highstock.js"></script>
    </head>
    <body onbeforeunload="return myFunction()">
        <div id="app"></div>
    </body>
    <script>
        
       var lastTime = window.localStorage.getItem('time')
        console.log(new Date().getTime()-lastTime)
        function myFunction(){
            if (event.clientX > document.body.clientWidth && event.clientY < 0 || event.altKey) {
                window.localStorage.clear()
            } else {
               //
            }
          
        }
       

    </script>
</html>